body {
    font-family: Roboto;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header Section */

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 16px;
    margin-right: 80px;
}

.header li {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    margin-left: 80px;
}

.header-logo,
.header ul {
    color: #F9FAF8;
}

/* Footer Section */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 24px;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 60px 80px;
    flex-grow: 1;
}

.hero-section h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: auto;
}

.hero-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-style: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 18px;
}

.hero-section img {
    margin-left: 24px;
}

/* Random information section */

.random-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    padding: 48px;
}

.random-info h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.random-info ul {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.random-info li {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
}

.random-info img {
    border-radius: 8px;
    border: 3px solid #3882F6;
    margin-bottom: 8px;
}

/* Quote Section */

.quote-section {
    background-color: #E5E7EB;
    padding: 80px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.quote {
    margin: auto 120px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 8px auto;
}

.quote-author {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}